# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/.vscode
/Crawl/debug.log
/Crawl/desktop.ini

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/Crawl/data.json 
/Crawl/champ.json
/Crawl/asynctest.py
/Crawl/asynctest_2.py
/Crawl/crawl_async.py
/Crawl/test_data.html
/Crawl/test.py
/Crawl/generator.py

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/Crawl/ghostdriver.log